{{#emptyDataset}}WARNING - EMPTY DATASET!{{/emptyDataset}}
{{message}}
{{#action}}type={{action}}{{/action}}
totalTriples={{tripleCount}}
guid={{guid}}
version={{version}}
name={{name}}
reason={{changeReason}}
svn.location={{& svnLocation}}
{{#nextUrl}}
nextUrl={{& nextUrl}}
{{/nextUrl}}
{{#rollbackUrl}}
rollbackUrl={{rollbackUrl}}
{{/rollbackUrl}}
