PREFIX luc: <http://www.ontotext.com/owlim/lucene#>

INSERT DATA {
  luc:languages luc:setParam "" .
  luc:index luc:setParam "uris" .
  luc:include luc:setParam "literals" .
  luc:exclude luc:setParam "http://.*|GeoTagConcept" .
  luc:excludePredicates luc:setParam "http://www.bbc.co.uk/ontologies/coreconcepts/disambiguationHint" .
  luc:useRDFRank luc:setParam "no" .
  luc:moleculeSize luc:setParam "1" .
}