PREFIX core:<http://www.bbc.co.uk/ontologies/coreconcepts/>
PREFIX onto:<http://www.ontotext.com/>

SELECT ?graph ?thing ?sameAs
FROM onto:explicit
WHERE { 
  GRAPH ?graph {
    {
      ?thing core:sameAs ?sameAs .
      FILTER ({{#sameAs}}?sameAs = <{{ . }}>{{^-last}} || {{/-last}}{{/sameAs}})
    }
    UNION {
      ?thing core:sameAs ?sameAs .
      FILTER ({{#things}}?thing = <{{ . }}>{{^-last}} || {{/-last}}{{/things}})
    }
  }
}

