<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>Status</servlet-name>
		<servlet-class>bbc.linkeddata.writer.api.status.ServiceApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Status</servlet-name>
		<url-pattern>/servicestatus</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Index</filter-name>
		<filter-class>bbc.linkeddata.writer.api.IndexApi</filter-class>
	</filter>
	<filter>
		<filter-name>Datasets</filter-name>
		<filter-class>bbc.linkeddata.writer.api.datasets.DatasetsApi</filter-class>
	</filter>
	<filter>
		<filter-name>CreativeWorks</filter-name>
		<filter-class>bbc.linkeddata.writer.api.creativework.CreativeWorkApi</filter-class>
	</filter>
	<filter>
		<filter-name>LabelEdit</filter-name>
		<filter-class>bbc.linkeddata.writer.api.label.LabelEditAPI</filter-class>
	</filter>
	<filter>
		<filter-name>Ping</filter-name>
		<filter-class>bbc.linkeddata.writer.api.ping.PingApi</filter-class>
	</filter>
	<filter>
		<filter-name>SparqlUpdate</filter-name>
		<filter-class>bbc.linkeddata.writer.api.sparqlupdate.SparqlUpdateApi</filter-class>
	</filter>
	<filter>
		<filter-name>ThingGraphs</filter-name>
		<filter-class>bbc.linkeddata.writer.api.thinggraphs.ThingGraphApi</filter-class>
	</filter>
	<filter>
		<filter-name>LuceneIndex</filter-name>
		<filter-class>bbc.linkeddata.writer.api.luceneindex.LuceneIndexApi</filter-class>
	</filter>
	<filter>
		<filter-name>Docs</filter-name>
		<filter-class>bbc.linkeddata.writer.api.docs.DocsApi</filter-class>
	</filter>
	<filter>
		<filter-name>ScheduledTasks</filter-name>
		<filter-class>bbc.linkeddata.writer.api.ScheduledTasksApi</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Index</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Datasets</filter-name>
		<url-pattern>/datasets/*</url-pattern>
		<url-pattern>/datasets-info/*</url-pattern>
		<url-pattern>/datasets-data/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CreativeWorks</filter-name>
		<url-pattern>/creative-work/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LabelEdit</filter-name>
		<url-pattern>/label/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Ping</filter-name>
		<url-pattern>/ping/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SparqlUpdate</filter-name>
		<url-pattern>/sparql-update/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ThingGraphs</filter-name>
		<url-pattern>/thing-graphs/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LuceneIndex</filter-name>
		<url-pattern>/lucene-reindex/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Docs</filter-name>
		<url-pattern>/docs/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ScheduledTasks</filter-name>
		<url-pattern>/scheduled-tasks/*</url-pattern>
	</filter-mapping>
</web-app>